{% macro previous_next_uri(name, server_key, previous_cursor=None, next_cursor, size=20) -%}
    <div class="wrap">
    {% if previous_cursor %}
    <div class="page box left">
        <a href="{{ uri_for_pagination(name, server_key=server_key, cursor=previous_cursor) }}">Newer</a>
    </div>
    {% endif %}

    {% if next_cursor %}
    <div class="page box left">
        <a href="{{ uri_for_pagination(name, server_key=server_key, cursor=next_cursor) }}">Older</a>
    </div>
    {% endif %}
    </div>
{%- endmacro %}

{% macro infinite_scroll_uri(name, server_key, next_cursor, size=20) -%}
    {% if next_cursor %}
    <h3 class="box infinite_scroll" data-url="{{ uri_for_pagination(name, server_key=server_key, cursor=next_cursor) }}">
        Loading...
    </h3>
    {% endif %}
{%- endmacro %}

{%- macro time_elapse(days, secs) -%}
    {%- set hours = secs // 3600 -%}
    {%- set mins = secs % 3600 // 60 -%}
    {%- if days -%}{{ days }}d{%- endif -%}
    {%- if hours !=0 -%}{{hours}}h{%- endif -%}
    {{mins}}m
{%- endmacro -%}

{% macro with_errors(field) %}
  <div class="form_field {% if field.errors %}error{% endif %}">
    {% if field.errors %}
      {{ field(**kwargs) }}
      <ul class="errors">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
    {% else %}
      {{ field(**kwargs) }}
    {% endif %}
  </div>
{% endmacro %}

{% macro server_status(server, user, utcnow=None) %}
    {% set status = 'unknown' %}
    {% set status_text = 'Existential Crisis' %}
    {% if server.is_running %}
        {% set status = 'up' %}
        {% set status_text = 'Playing' %}
    {% endif %}
    {% if server.is_stopped %}
        {% set status = 'down' %}
        {% set status_text = 'Defunct' %}
    {% endif %}
    {% set overload_show = 'none' %}
    {% if server.is_running and server.num_overloads %}
        {% set overload_show = 'initial' %}
    {% endif %}
    {% set completed = None %}
    {% set eula_agree = server.mc_properties.eula_agree %}
    {% set eula_show = 'none' if eula_agree else 'initial' %}
    {% set play_show = 'none' %}
    {% set restart_show = 'none' %}
    {% set save_show = 'none' %}
    {% set pause_show = 'none' %}
    {% set spinner_show = 'none' %}
    {% if server.is_gce %}
        {% if server.is_unknown or server.is_stopped %}
            {% set status = 'down' %}
            {% set status_text = 'Paused' %}
            {% if eula_agree %}
                {% set play_show = 'initial' %}
            {% endif %}
        {% elif server.is_queued_start %}
            {% set status = 'queued' %}
            {% set status_text = 'Prologue...' %}
            {% set completed = server.completed %}
            {% if completed != None %}
                {% set status_text = 'Remember...' %}
            {% endif %}
            {% if eula_agree and user.admin %}
                {% set pause_show = 'initial' %}
            {% endif %}
            {% set spinner_show = 'initial' %}
        {% elif server.is_queued_restart %}
            {% set status = 'queued' %}
            {% set status_text = 'Resolution...' %}
            {% if eula_agree and user.admin %}
                {% set save_show = 'initial' %}
                {% set pause_show = 'initial' %}
            {% endif %}
            {% set spinner_show = 'initial' %}
        {% elif server.is_queued_stop %}
            {% set status = 'queued' %}
            {% set status_text = 'Epilogue...' %}
            {% set completed = server.completed %}
            {% if completed != None %}
                {% set status_text = 'Memorize...' %}
            {% endif %}
            {% set spinner_show = 'initial' %}
        {% elif eula_agree and user.admin %}
                {% set restart_show = 'initial' %}
                {% set save_show = 'initial' %}
                {% set pause_show = 'initial' %}
        {% endif %}
    {% endif %}
    {% set idle_shutdown_in = server.idle_shutdown_in %}
    <div class="title box wrap">
        <div class="left">
            <h1><a href="{{ uri_for('home', server_key=server.url_key) }}">{{ server.name }}</a></h1>
            <h3>
                <span class="server_address">
                    {% if server.address %}
                        <pre>{{ server.address }}</pre>
                    {% elif server.is_unknown or server.is_stopped %}
                        World Paused -- Press Play
                    {% elif server.is_queued_start %}
                        World Starting...
                    {% elif server.is_queued_stop %}
                        World Stopping...
                    {% else %}
                        World Paused
                    {% endif %}
                </span>
            </h3>
            <h3>Day <span class="server_day">{{ server.server_day or "0"}}</span> / Time <span class="server_time">{{ server.server_time or "0" }}</span>
            / <span class="server_weather">
            {% if server.is_raining != None %}
                {% if server.is_raining %}
                    Raining
                    {% if server.is_thundering %}
                        &amp; Thundering
                    {% endif %}
                {% else %}
                    Clear
                {% endif %}
            {% else %}
                Never Played
            {% endif %}
            </span>
            </h3>
            {% if user.admin %}
                <h3>Admin Tools: &nbsp;
                {% if server.is_gce %}
                    <a href="{{ uri_for('server_gce', key=server.key.urlsafe()) }}">Edit</a>
                     |
                    <a href="{{ uri_for('server_backup_download', key=server.key.urlsafe()) }}">Download</a>
                    {% if server.is_stopped or server.is_unknown %}
                        <span class="server_restore">
                    {% else %}
                        <span class="server_restore" style="display:none">
                    {% endif %}
                        | <a href="{{ uri_for('server_restore', key=server.key.urlsafe()) }}">Restore</a>
                    </span>
                {% else %}
                    <a href="{{ uri_for('server', key=server.key.urlsafe()) }}">Edit</a>
                {% endif %}
                {% if server.is_running %}
                    <span class="server_command">
                {% else %}
                    <span class="server_command" style="display:none">
                {% endif %}
                        <form action="{{ uri_for('server_command', key=server.key.urlsafe()) }}" method="post">
                            <input type="text" name="command" placeholder="Send command..."/>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </form>
                    </span>
                {% if not ON_SERVER %}
                    &nbsp; | &nbsp; <a href="{{ uri_for('server_upload_log', key=server.key.urlsafe()) }}">Upload Log File</a>
                {% endif %}
                </h3>
            {% endif %}
        </div>
        <div class="status wrap {{ status }}">
            <i class="sprite"></i>
            <div class="right">
                <h4>Server Status&nbsp;<span class="server_last_ping">({{ utcnow|datetimeformat(format='%b %d, %Y', timezone=user.timezone) }}&nbsp;&nbsp;{{ utcnow|datetimeformat(format='%I:%M:%S%p', timezone=user.timezone) }})</span></h4>
                <h4><span class="server_num_overloads" style="display:{{ overload_show }}">5 Minute Lag Count:&nbsp;{{ server.num_overloads }}</span></h4>
                <strong>
                    <span class="server_status_text">{{ status_text }}</span>
                    <span class="server_completed">{% if completed != None %}{{ completed }}%{% endif %}</span>
                    <span id="spinner" class="spinner" style="display:{{ spinner_show }};">
                        <img id="img-spinner" src="/img/spinner.gif" alt="Working..."/>
                    </span>
                    <span class="server_shutdown_in">
                    {% if idle_shutdown_in %}
                        {% if idle_shutdown_in.total_seconds() > 60 %}
                            <br/>Pausing in ~{{ time_elapse(idle_shutdown_in.days, idle_shutdown_in.seconds) }}.
                        {% else %}
                            <br/>Pause imminent!
                        {% endif %}
                    {% endif %}
                    </span>
                </strong>
                <span class="server_eula" style="display:{{ eula_show }}">
                    You must <a href="{{ uri_for('server_gce', key=server.key.urlsafe()) }}">agree</a> to the Mojang Minecraft EULA to Play
                </span>
                <span class="server_play" style="display:{{ play_show }}">
                    <form action="{{ uri_for('server_start', key=server.key.urlsafe()) }}" method="post">
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Play</button>
                        </div>
                    </form>
                </span>
                <span class="server_restart" style="display:{{ restart_show }}">
                    <form action="{{ uri_for('server_restart', key=server.key.urlsafe()) }}">
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Restart</button>
                        </div>
                    </form>
                </span>
                <span class="server_save" style="display:{{ save_show }}">
                    <form action="{{ uri_for('server_backup', key=server.key.urlsafe()) }}">
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </span>
                <span class="server_pause" style="display:{{ pause_show }}">
                    <form action="{{ uri_for('server_stop', key=server.key.urlsafe()) }}">
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Pause</button>
                        </div>
                    </form>
                </span>
            </div>
        </div>
    </div>
{% endmacro %}